a > input.guild {
    padding: 4px;
    background: #2e2f46;
    border: none;
    border-bottom: 2px solid #7881A1;
    width: calc(100% - .5rem);
    color: white;
}

a > input.guild:focus {
    outline: none;
    background: rgba(57, 63, 84, 0.8);
}

a > input.guild::placeholder {
    font-size: 10px;
}
