.tw {
    width: 100%;
}

.tw .summary {
    margin: 16px 8px;
    width: calc(100% - 24px);
}

.tw .matchup-dimension {
    margin-bottom: 16px;
}

.summary {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 8px;
    grid-template-rows: auto;
}

.summary .guild-profile {
    place-self: flex-end center;
    min-width: 50%;
}

.guild-profile {
    text-align: center;
    background: #2e415ac3;
    border-radius: 2px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12), 0 1px 3px 0 rgba(0,0,0,0.20);
    padding: 32px;
}

.guild-profile h1 {
    word-break: break-word;
}

.guild-profile img {
    border-radius: 50%;
}

.guild-profile label {
    color: #a1a5a5;
}

.matchup-dimension {
    display: flex;
    place-content: center;
}

.matchup-dimension select {
    margin-left: 8px;
}

.player-matchup {
    width: calc(100% - 8px);
}

.player-matchup ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.player-matchup li {
    display: grid;
    grid-template-columns: 1fr 80px 1fr;
    grid-template-rows: auto;
    gap: 16px;
    margin: 0 16px 8px 16px;
}

.player-matchup li .member {
    width: 100%;
}

.player-matchup li .matchup {
    place-self: center;
}