@media only screen and (min-width: 769px) {    
    .member .gp-short {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .member .picture, .member .gp-long {
        display: none;
    }

    .member.left {
        grid-template-columns: 1fr 2em;
    }

    .member.right {
        grid-template-columns: 2em 1fr;
    }
}

@media only screen and (max-width: 600px) {
    .member .picture, .member .title, .member .gp-long {
        display: none;
    }

    .member.officer .name {
        color: #dfbd69;
    }

    .member .league {
        text-overflow: clip;
        white-space: nowrap;
        overflow: hidden;
    }

    .member.left {
        grid-template-columns: 1fr 2em;
    }

    .member.right {
        grid-template-columns: 2em 1fr;
    }
}
