.player-details {
    display: grid;
    grid-template-columns: 80px auto;
    grid-template-rows: auto;
    column-gap: 8px;
    row-gap: 4px;
    margin: 0 4px 4px 4px;
    padding-bottom: 4px;
    border-radius: 0 0 2px 2px;
}

.player-details label {
    text-align: right;
    color: #a1a5a5;
    font-size: .8em;
    align-self: center;
}

.player-details a.profile-link {
    color: inherit;
    text-decoration: none;
}

.player-details a.profile-link svg {
    color: inherit;
    height: 14px;
    fill: currentColor;
}

.player-details .gl-grid {
    width: calc(9 * 30px);
}

.player-details .gl-grid table {
    border: 1px solid #2e415ac3;
    border-collapse: collapse;
}

.player-details .gl-grid table td, .player-details .gl-grid table th {
    width: 30px;
    border: 1px solid #2e415ac3;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
}

.player-details .gl-grid table td.ultimate {
    background: #9e7330;
}

.player-details .omi-grid {
    width: calc(18 * 3 * 4px);
}

.player-details .omi-grid table {
    border: 1px solid #2e415ac3;
    border-collapse: collapse;
}

.player-details .omi-grid table td, .player-details .omi-grid table th {
    width: calc(3 * 4px);
    border: 1px solid #2e415ac3;
    text-align: center;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
}

.player-details .mods {
    display: flex;
    gap: 16px;
    align-items: center;
}

.player-details .mods > div {
    display: flex;
}

.player-details .mods > div > label {
    align-self: start;
    justify-self: end;
    line-height: 20px;
    font-size: 10px;
}
